@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Lalezar-Regular';
    position: relative;
}
body{
    width: 375px;
    margin: auto;
    box-sizing: unset;
}
.app {
    position: relative;
  }
  .butty {
    position: absolute;
    bottom: 31%;
    transform: translate(-40%, 50px) !important;
}